@use "../../.././modules/mixins.scss";
@use "../../../partials/colors";

.home {
  @include mixins.flex(column, center);
  align-items: center;
  gap: 10px;
  background-color: colors.$bg;
  height: 100vh;
}
