@mixin branding {
  background: #5ca0fc;
  background: radial-gradient(
    circle farthest-corner at center center,
    #5ca0fc 0%,
    #226381 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin flex($direction: column, $justify: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin text($size, $weight, $spacing: 2px) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}
