@use "../../.././modules/mixins.scss";
@use "../../../partials/colors";
@use "../../../partials/media-queries" as mq;

.results {
  @include mixins.flex(column, flex-start);
  align-items: center;
  height: 100vh;
  background-color: colors.$bg;

  &__displayError {
    height: 100vh;
    width: 100vw;
    text-align: center;
    border-radius: 30px;
    background-color: colors.$primary;
    @include mixins.text(15px, 600, 1.5px);
  }

  &__display {
    @include mixins.flex(column, center);
    align-items: center;
    gap: 8px;
    background-color: colors.$primary;
    width: 100vw;
    border-radius: 30px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__subheading {
    @include mixins.flex(column, center);
    text-align: center;
    align-items: center;
    @include mixins.text(15px, 600, 1.5px);
    @include mq.xl-up {
      @include mixins.flex(row, center);
      align-items: center;
      gap: 10vw;
    }
  }

  &__term {
    font-weight: 800;
  }

  &__select {
    font-size: 15px;
    font-weight: 500;
    background-color: colors.$bg;
    border: 2px solid colors.$secondary;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-left: 5px;
  }

  &__nav {
    @include mixins.flex(row, space-around);
    width: 100%;
    @include mixins.text(15px, 400, 1.5px);
  }

  &__btn {
    all: unset;
    cursor: pointer;
    @include mixins.text(15px, 600, 1.5px);
  }
}
