@use "../../../modules/mixins.scss";
@use "../../../partials/colors";
@use "../../../partials/sizing";
@use "../../../partials/media-queries" as mq;

.bookgrid {
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 15px;

  @include mq.md-up {
    grid-template-columns: repeat(auto-fit, 1.5 * sizing.$card-width);
    gap: 35px;
  }
}
