@use "../../../modules/mixins.scss";
@use "../../../partials/colors";

.form {
  @include mixins.flex(row, center);
  width: 50%;
  align-items: center;
  margin-left: 50%;
  margin-top: 5vh;
  gap: 0.5em;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.searchBar {
  margin-left: 20px;
  font-size: 13px;
  background: none;
  color: colors.$secondary;
  width: 90%;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.searchBtn {
  all: unset;
}

input::placeholder {
  text-align: center;
}

.icon {
  font-size: 50px;
  color: colors.$primary;
  cursor: pointer;
  &:hover {
    color: colors.$secondary;
  }
}
