@use "../../../modules/mixins.scss";
@use "../../../partials/colors";
@use "../../../partials/sizing";
@use "../../../partials/media-queries" as mq;

.modal {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20vh;
  left: 10vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__content {
    background-color: colors.$primary;
    height: 80vh;
    width: 80vw;
    z-index: 1090;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 1px 0px 9px 6px (colors.$secondary);
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__noText {
    @include mixins.flex(row, center);
  }

  &__img {
    min-width: 138px;
    width: 1.2 * sizing.$book-width;
    height: 1.2 * sizing.$card-height;
    object-fit: cover;
    border-radius: 20px;
    @include mq.md-up {
      width: 1.8 * sizing.$book-width;
      height: 1.8 * sizing.$card-height;
      align-self: center;
    }
  }

  &__close {
    position: absolute;
    right: 12vw;
    font-size: 2rem;
    color: colors.$bg;
    cursor: pointer;
    &:hover {
      color: colors.$secondary;
    }
  }

  &__title {
    border-bottom: solid 1px black;
  }
  &__author {
    font-style: italic;
  }
  &__bold {
    font-weight: 600;
  }
  &__details {
    font-weight: 400;
  }
}
