@use "../../../modules/mixins.scss";
@use "../../../partials/colors";
@use "../../../partials/media-queries" as mq;
@use "../../../partials/sizing";

.card {
  @include mixins.flex(row, flex-start);
  gap: 15px;
  align-items: center;
  width: sizing.$card-width;

  background: #d6c0b3;
  border-radius: 20px;
  padding: 5px 5px 5px 0px;
  box-sizing: border-box;
  height: sizing.$card-height;
  box-shadow: 1px 0px 9px 6px (colors.$secondary);

  @include mq.md-up {
    width: 1.5 * sizing.$card-width;
    height: 1.5 * sizing.$card-height;
  }

  &__img {
    min-width: 138px;
    width: sizing.$book-width;
    height: inherit;
    object-fit: fill;
    border-radius: 20px;
    overflow: hidden;

    @include mq.md-up {
      min-width: 210px;
    }
  }

  &__noImg {
    @include mixins.flex(column, center);
    align-items: center;
    text-align: center;
    width: sizing.$book-width;
    height: sizing.$card-height;
    @include mq.md-up {
      min-width: 210px;
    }
  }

  &__preview {
    @include mixins.flex(column, space-between);
    height: 95%;
    align-self: flex-start;
    gap: 5px;
    text-overflow: ellipsis;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__text {
    @include mixins.flex(column, center);
    gap: 3px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__author {
    display: none;
    @include mq.md-up {
      display: inline;
    }
  }

  &__btn {
    width: 90px;
    all: unset;
    color: colors.$secondary;
    @include mixins.text(15px, 600, 1.5px);
    cursor: pointer;
    &:hover {
      color: colors.$primary;
    }
  }

  &__overview {
    display: none;
    position: absolute;
    z-index: 8;
  }

  @include mq.md-up {
    position: relative;
  }
}
